

.copy_right_footer
{
  background-color: rgba(221, 219, 219, 0.973);
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin-top: 300px;
  position: fixed;
}

#results
{
  margin-top: 300px;
}
